.aa2{
    height: 600px;
    width: 100%;
}
.aa21{
    width:100%;
    height: 800px;
}
.aa3{
    font-family:'Dancing Script', cursive;
    
}
.aa4{
    font-family:'Dancing Script', cursive;
    color:rgb(11, 71, 11);
}
.aa5{
    height: 500px;
    width: 100%;
    border-radius: 45.5rem 10.5rem 20rem 0rem ;
    box-shadow: 15px 15px 15px 0px;

}
.rop1{
    font-size: 16px;
    color:aliceblue;
    position: relative;
    font-family:'Dancing Script', cursive;
}
.dd1{
    height: 50%;
    width: 100%;
    border-radius: 20px;
}
.bb1{
    height: 8000px;
}
.aa11{
    height:50%;
    width:100%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px 0px;

}
.aa13{
    font-family:'Dancing Script', cursive;
}
.aa12{
    height:50%;
    width:100%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px 0px;
}
.kk1{
    text-align: center;
    font-family:'Dancing Script', cursive;
}
.tt1{
    height: 100%;
    width: 100%;
}
.zz1{
    width: 100%;
}
.footer{
    background-image: url(./images/app1\ \(2\).jpg);
    height: 7%;
    width: 100%;
}
.ww1{
    color: aliceblue;

}
.form{
    color: aliceblue;
}